<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FORKIO</title>
    <link rel="stylesheet" href="./dist/css/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="shortcut icon" href="https://img.icons8.com/office/40/000000/fork.png" type="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/style.min.css">
</head>
    <body>
    <!----- S E C T I O N     H E A D E R ------->
    {% include 'sections/1_header/header.html' %}
    <!----- S E C T I O N     E D I T O R  ------->
    {% include 'sections/2_editor/editor.html' %}
    <!----- S E C T I O N     P E O P L E   ------->
    {% include 'sections/3_people/people.html' %}
    <!----- S E C T I O N     P R I C I N G ------->
    {% include 'sections/4_pricing/pricing.html' %}
    </body>
    <script src="./dist/js/jquery-min-3.3.1.js"></script>
  	<script src="./dist/js/all.min.js"></script>
</html>